{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acervo Digital</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        crossorigin="anonymous" />
</head>

<body>
    <header>
        <div class="navbar">
            <a href="{% url 'home' %}" class="w3-xlarge">
                <img src="{% static 'img/biblioteca.png' %}" alt="Logo Acervo Digital" class="logo">
                Acervo Digital
            </a>
            <button class="menu-toggle" aria-label="Abrir Menu">
                <i class="fa fa-bars"></i>
            </button>
        </div>
    </header>

    <nav id="side-menu" class="side-menu">
        <ul>
            <li class="has-submenu">
                <a href="#">Livros</a>
                <ul class="submenu">
                    <li><a href="{% url 'cadastro_livros' %}">Cadastro de Livros</a></li>
                    <li><a href="{% url 'estoque' %}">Estoque</a></li>
                    <li><a href="{% url 'emprestimo' %}">Empréstimos</a></li>
                    <li><a href="{% url 'reservas' %}">Reservas</a></li>
                </ul>
            </li>

            <li class="has-submenu">
                <a href="#"> Leitores</a>
                <ul class="submenu">
                    <li><a href="{% url 'cadastro_leitor' %}">Cadastro de Leitor</a></li>
                    <li><a href="{% url 'usuarios' %}">Leitores</a></li>
                </ul>
            </li>

            <li class="has-submenu">
                <a href="#">Relatórios</a>
                <ul class="submenu">
                    <li><a href="{% url 'multa' %}">Relatório de Multas</a></li>
                    <li><a href="{% url 'emprestimo' %}">Relatório de Empréstimos</a></li>
                </ul>
            </li>

            <li class="has-submenu">
                <a href="#">Configurações</a>
                <ul class="submenu">
                    <li><a href="{% url 'configuracao_multa' %}">Multa</a></li>
                    <li><a href="{% url 'configuracao_contas' %}">Contas</a></li>
                    <li><a href="{% url 'configuracao_cadastro' %}">Cadastro</a></li>
                </ul>
            </li>

            <li>
                <form method="POST" action="{% url 'logout' %}" style="margin: 0;">
                    {% csrf_token %}
                    <button type="submit">Sair</button>
                </form>
            </li>
        </ul>
    </nav>

    <main class="configuracoes-main">
        <div class="configuracoes-conteudo">
            <h3>Cadastro de nova conta</h3>
            <form method="POST">
                {% csrf_token %}
                <input type="hidden" name="form-action" value="cadastro-usuario">

                <div class="form-group">
                    <label for="username">Nome de Usuário</label>
                    <input type="text" id="username" name="username" required>
                </div>
                <div class="form-group">
                    <label for="password">Senha</label>
                    <input type="password" id="password" name="password" required>
                </div>
                <div class="form-group">
                    <label for="email">E-mail</label>
                    <input type="email" id="email" name="email" required>
                </div>
                <div class="form-group">
                    <label for="cpf">CPF</label>
                    <input type="text" id="cpf" name="cpf" required>
                </div>
                <div class="form-group">
                    <label for="endereco">Endereço</label>
                    <input type="text" id="endereco" name="endereco" required>
                </div>
                <div class="form-group">
                    <label for="funcao">Função</label>
                    <select id="funcao" name="funcao" required>
                        <option value="" selected disabled>Selecione uma função</option>
                        <option value="administrador">Administrador</option>
                        <option value="bibliotecario">Bibliotecário</option>
                    </select>
                </div>
                <button type="submit" class="btn">Cadastrar</button>
            </form>
        </div>
        <div id="modall-feedback" class="modall" style="display:none;">
            <div class="modall-content">
                <span class="close" onclick="fecharModalFeedback()">&times;</span>
                <p id="modall-mensagem"></p>
            </div>
        </div>
    </main>
    <script id="django-mensagens" type="application/json">
    [
        {% for message in messages %}
        {"tipo": "{{ message.tags }}", "mensagem": "{{ message }}" }
        {% if not forloop.last %},{% endif %}
        {% endfor %}
    ]
    </script>
    <script src="{% static 'script/script.js' %}"></script>
</body>

</html>