{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" href="{% static 'img/logo.png' %}" type="image/png">
    <link rel="stylesheet" href="{% static 'css/relatorio.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        crossorigin="anonymous" />
    <title>Reservas</title>
</head>

<body>
    <header>
        <div class="navbar">
            <a href="{% url 'home' %}" class="w3-xlarge">
                <img src="{% static 'img/logo.png' %}" alt="Logo Acervo Virtual" class="logo">
                Acervo Virtual
            </a>
            <button class="menu-toggle" aria-label="Abrir Menu">
                <i class="fa fa-bars"></i>
            </button>
        </div>
    </header>

    <nav id="side-menu" class="side-menu">
        <ul>
            <li class="has-submenu">
                <a href="#">Livros</a>
                <ul class="submenu">
                    <li><a href="{% url 'cadastro_livros' %}">Cadastro de Livros</a></li>
                    <li><a href="{% url 'estoque' %}">Estoque</a></li>
                    <li><a href="{% url 'emprestimo' %}">Empréstimos</a></li>
                    <li><a href="{% url 'reservas' %}">Reservas</a></li>
                </ul>
            </li>

            <li class="has-submenu">
                <a href="#"> Leitores</a>
                <ul class="submenu">
                    <li><a href="{% url 'cadastro_leitor' %}">Cadastro de Leitor</a></li>
                    <li><a href="{% url 'leitores' %}">Leitores</a></li>
                </ul>
            </li>           
            <li class="has-submenu">
                <a href="#">Relatórios</a>
                <ul class="submenu">
                    <li><a href="{% url 'multa' %}">Relatório de Multas</a></li>
                    <li><a href="{% url 'relatorio' %}">Relatório de Empréstimos</a></li>
                </ul>
            </li>
            {% if request.session.funcao == "administrador" %}
            <li class="has-submenu">
                <a href="#">Configurações</a>
                <ul class="submenu">
                    <li><a href="{% url 'configuracao_multa' %}">Multa</a></li>
                    <li><a href="{% url 'configuracao_contas' %}">Contas</a></li>
                    <li><a href="{% url 'configuracao_cadastro' %}">Cadastro</a></li>
                </ul>
            </li>
            {% endif %}
            <li>
                <form method="POST" action="{% url 'logout' %}" style="margin: 0;">
                    {% csrf_token %}
                    <button type="submit">Sair</button>
                </form>
            </li>
        </ul>
    </nav>

    <main>
        <div class="relatorio-header">
            <h2>Relatório de Empréstimos</h2>
            <h3>Estatísticas de uso do acervo:</p>
        </div>

        <div class="dashboard-stats">
            <div class="stat-card total-emprestimos">
                <h3>Empréstimos Registrados (Total)</h3>
                <p>{{ total_emprestimos_feitos }}</p>
            </div>

            <div class="stat-card total-devolvidos">
                <h3>Livros Devolvidos</h3>
                <p>{{ total_devolvidos }}</p>
            </div>

            <div class="stat-card percentual-devolvidos">
                <h3>Taxa de Devolução Concluída</h3>
                <p>{{ percentual_devolvidos }}%</p>
            </div>
        </div>

        <div class="relatorio-header">
            <h2>Empréstimos por Livro</h3>
        </div>
        <div class="buscador">
            <form action="{% url 'relatorio' %}" method="GET" class="pesquisa">
                <input type="text" name="q" value="{{ request.GET.q }}"
                    placeholder="Pesquisar por título, autor ou gênero..." id="buscar">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
        <div class="estoque-container">
            <table class="tabela-relatorio">
                <thead>
                    <tr>
                        <th>Livro</th>
                        <th>Autor</th>
                        <th>Gênero</th>
                        <th>Emprestados (Total)</th>
                    </tr>
                </thead>
                <tbody>
                    {% for livro in livros_emprestados %}
                    <tr>
                        <td>{{ livro.titulo }}</td>
                        <td>{{ livro.autor }}</td>
                        <td>{{ livro.genero }}</td>
                        <td class="count-col">{{ livro.total_emprestimos }}</td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="4">Nenhum livro foi emprestado ainda.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>

    <script src="{% static 'script/script.js' %}"></script>

    <footer class="footer">
        <p>&copy; 2025 Acervo Digital - Todos os direitos reservados.</p>
        <p>Desenvolvido por <span class="autor">Grupo 12</span></p>
    </footer>
</body>

</html>