{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/relatorio_multa.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        crossorigin="anonymous" />
    <title>Multa</title>
</head>

<body>
    <header>
        <div class="navbar">
            <a href="{% url 'home' %}" class="w3-xlarge">
                <img src="{% static 'img/biblioteca.png' %}" alt="Logo Acervo Digital" class="logo">
                Acervo Digital
            </a>
            <button class="menu-toggle" aria-label="Abrir Menu">
                <i class="fa fa-bars"></i>
            </button>
        </div>
    </header>

    <nav id="side-menu" class="side-menu">
        <ul>
            <li class="has-submenu">
                <a href="#">Livros</a>
                <ul class="submenu">
                    <li><a href="{% url 'cadastro_livros' %}">Cadastro de Livros</a></li>
                    <li><a href="{% url 'estoque' %}">Estoque</a></li>
                    <li><a href="{% url 'emprestimo' %}">Empréstimos</a></li>
                    <li><a href="{% url 'reservas' %}">Reservas</a></li>
                </ul>
            </li>

            <li class="has-submenu">
                <a href="#"> Leitores</a>
                <ul class="submenu">
                    <li><a href="{% url 'cadastro_leitor' %}">Cadastro de Leitor</a></li>
                    <li><a href="{% url 'leitores' %}">Leitores</a></li>
                </ul>
            </li>
            {% if request.session.funcao == "administrador" %}
            <li class="has-submenu">
                <a href="#">Relatórios</a>
                <ul class="submenu">
                    <li><a href="{% url 'multa' %}">Relatório de Multas</a></li>
                    <li><a href="{% url 'relatorio' %}">Relatório de Empréstimos</a></li>
                </ul>
            </li>
            <li class="has-submenu">
                <a href="#">Configurações</a>
                <ul class="submenu">
                    <li><a href="{% url 'configuracao_multa' %}">Multa</a></li>
                    <li><a href="{% url 'configuracao_contas' %}">Contas</a></li>
                    <li><a href="{% url 'configuracao_cadastro' %}">Cadastro</a></li>
                </ul>
            </li>
            {% endif %}
            <li>
                <form method="POST" action="{% url 'logout' %}" style="margin: 0;">
                    {% csrf_token %}
                    <button type="submit">Sair</button>
                </form>
            </li>
        </ul>
    </nav>

    <main>
        <div class="estoque-container">
            <div class="relatorio-header">
                <h2>Relatório de Multas</h2>
                <h3>Estatísticas de multas:</p>
            </div>
            <div class="dashboard-stats">
                <div class="stat-card total-multas-aberto">
                    <h3>Multa em Aberto (R$)</h3>
                    <p>R$ {{ total_multas_aberto|floatformat:2 }}</p>
                </div>

                <div class="stat-card total-arrecadado">
                    <h3>Total Arrecadado (R$)</h3>
                    <p>R$ {{ multas_arrecadadas|floatformat:2 }}</p>
                </div>

                <div class="stat-card total-multas-ativas">
                    <h3>Empréstimos com Multa</h3>
                    <p>{{ devolucoes|length }}</p>
                </div>
            </div>
            <div class="relatorio-header">
                <h2>Multas ativas</h2>
            </div>
            <div class="buscador">
                <form action="{% url 'multa' %}" method="GET" class="pesquisa">
                    <input type="text" name="q" value="{{ request.GET.q }}"
                        placeholder="Pesquisar por título ou autor..." id="buscar">
                    <button type="submit"><i class="fa fa-search"></i></button>
                </form>
            </div>
            <table class="tabela-multa">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Livro</th>
                        <th>Multa (R$)</th>
                        <th>Situação</th>
                        <th>Condição</th>
                    </tr>
                </thead>
                <tbody>
                    {% for emprestimo in devolucoes %}
                    <tr>
                        <td>{{ emprestimo.leitor.nome }}</td>
                        <td>{{ emprestimo.livro.titulo }}</td>
                        <td>{{ emprestimo.valor_multa_temp|floatformat:2 }}</td>
                        <td>Emprestado</td>
                        <td>Atrasado</td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="5">Nenhuma multa registrada.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>

    <script src="{% static 'script/script.js' %}"></script>

    <footer class="footer">
        <p>&copy; 2025 Acervo Digital - Todos os direitos reservados.</p>
        <p>Desenvolvido por <span class="autor">Grupo 12</span></p>
    </footer>
</body>

</html>