{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Acervo Digital</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
</head>

<body class="login-page">
    <main class="login-container">
        <div class="login-form-box">
            <h2>Email enviado</h2>
            <p>Um link de redefinição de senha foi enviado para o seu e-mail.</p>
            <div class="forgot-password">
                <a href="{% url 'login_view' %}">Voltar ao login</a>
            </div>
        </div>

        <div class="login-image-box">
            <img src="{% static 'img/biblioteca.png' %}" alt="Logo da Biblioteca">
        </div>
    </main>
</body>

</html>