.modal-botoes {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.btn {
    background-color: #1C325B;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    width: 100%;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #8693ab;
}

.estoque-container {
    max-width: 900px;
    margin: 40px auto;
    margin-left: 220px;
}

.tabela-estoque {
    width: 100%;
    border-collapse: collapse;
    background-color: #f2f2f2;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.tabela-estoque thead th {
    background-color: black;
    color: white;
    padding: 15px;
    text-align: left;
}

.tabela-estoque tbody td {
    padding: 15px;
    border-bottom: 1px solid #ddd;
}

.tabela-estoque tbody tr:nth-child(even) {
    background-color: #e9e9e9;
}

.botoes-acao {
    display: flex;
    gap: 10px;
    align-items: center;
}

.btn-devolucao {
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    background-color: #1C325B;
}

#modal-devolucao {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

#modal-devolucao .modal-conteudo {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border-radius: 8px;
    width: 90%;
    max-width: 500px;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#modal-devolucao .fechar-modal {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

#modal-devolucao .modal-conteudo h3 {
    text-align: center;
    margin-bottom: 20px;
}

#modal-devolucao .form-group label {
    font-weight: bold;
    color: #555;
}

#modal-devolucao .form-group p {
    background-color: #e9e9e9;
    padding: 10px;
    border-radius: 4px;
    margin-top: 5px;
    height: auto;
}

#modal-devolucao .form-group input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#modal-devolucao .modal-botoes {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.btn-confirmar-modal {
    background-color: #1C325B;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-voltar-modal {
    background-color: #9b2c37;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#btn-pago {
    background-color: #7fa46d;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    font-size: 17px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#btn-pago:hover {
    background-color: #4b6339;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

.form-group input,
.form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 1rem;
    color: #333;
}

.form-group input::placeholder,
.form-group select option:first-child {
    color: #999;
}

.form-group input[type="file"] {
    padding: 6px;
    background-color: #e9e9e9;
    border: 1px solid #ccc;
    cursor: pointer;
}