@media (max-width: 768px) {
    .menu-toggle {
        display: block;
        background: none;
        border: none;
        color: white;
        font-size: 24px;
        cursor: pointer;
        margin-right: 20px;
        z-index: 1020;
        overflow-y: auto; 
    }

    body.menu-open .side-menu {
        right: 0;
    }

    .side-menu ul {
        display: block;
        text-align: left;
    }

    .side-menu li {
        padding: 0;
        text-align: left;
        border-bottom: 1px solid #7fa46d;
    }

    .side-menu a,
    .side-menu li button {
        text-align: left;
        padding: 12px 20px;
    }

    .submenu {
        display: none;
        position: static;
        width: 100%;
        background-color: #7fa46d;
        padding: 0;
    }

    .submenu li {
        padding: 0;
        border: none;
    }

    .submenu li a {
        padding: 8px 30px;
    }

    .has-submenu.open>.submenu {
        display: block;
    }

    .side-menu form button {
        background-color: transparent;
        border: none;
        color: white;
        font-size: 18px;
        text-align: left;
        cursor: pointer;
        width: 100%;
        padding: 12px 20px;
    }

    .side-menu form button:hover {
        background-color: #53703f;
    }

}

@media (max-width: 480px) {
    .navbar a {
        font-size: 24px;
        margin-left: 10px;
    }

    .logo {
        height: 40px;
    }

    .side-menu {
        width: 200px;
        right: -200px;
    }

    body.menu-open .side-menu {
        right: 0;
    }

    .side-menu a,
    .side-menu li button {
        font-size: 16px;
    }

    .submenu li a {
        font-size: 14px;
    }
}

/*TELA DE CADASTRO DE LIVROS*/
@media (max-width: 768px) {
    .container-form {
        max-width: 300%;
        margin-top: -20px;
    }

    .form-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
    }

    .container-form h2 {
        font-size: 1.5rem;
    }

    .btn {
        padding: 10px 15px;
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .container-form {
        max-width: 300%;
        padding: 15px;
    }

    .form-grid {
        grid-template-columns: 1fr;
        gap: 10px;
    }

    .form-group label {
        font-size: 0.9rem;
    }

    .form-group input,
    .form-group select {
        font-size: 0.9rem;
        padding: 8px;
    }

    .btn {
        font-size: 14px;
    }
}

/*TELA HOME*/
@media (max-width: 768px) {
    .livros-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
        margin-top: 25px;
    }

    .capa-container {
        width: 250px;
        height: 320px;
    }

    .livro-titulo {
        font-size: 0.9rem;
    }

    .livro-autor {
        font-size: 0.8rem;
    }
}

@media (max-width: 480px) {
    .livros-grid {
        grid-template-columns: 1fr;
        gap: 10px;
    }

    .capa-container {
        width: 250px;
        height: 320px;
    }

    .livro-card {
        margin: 0 auto;
        max-width: 300px;
    }
}

/* BUSCADOR */
@media (max-width: 768px) {
    .buscador {
        top: 80px;
        padding: 10px;
        margin-top: -5px;
        z-index: 100;
    }

    .pesquisa {
        flex-direction: row;
        gap: 10px;
        max-width: 90%;
    }

    #buscar {
        padding: 12px 35px;
    }

    .pesquisa button {
        width: 100%;
        padding: 12px;
        border-radius: 25px;
    }
}

/*TELA DE CADASTRO DE LEITOR*/
@media (max-width: 768px) {
    .radio-group {
        grid-column: 1 / span 2;
    }

    .radio-options {
        flex-direction: column;
        gap: 10px;
    }

    .radio-options label {
        padding: 8px 12px;
    }
}

@media (max-width: 480px) {
    .radio-group {
        grid-column: 1 / span 1;
    }

    .radio-options label {
        width: 93%;
        text-align: center;
    }
}

/*TELA DE EMPRESTIMO*/
@media (max-width: 768px) {
    .emprestimo-content {
        flex-direction: column;
        align-items: center;
    }

    .emprestimo-info,
    .emprestimo-form-container {
        width: 100%;
        max-width: 100%;
        height: auto;
        padding: 10px;
    }

    .emprestimo-info {
        background-color: #f2f2f2;
        margin-bottom: 20px;
        padding-top: 10px;
    }

    .livro-info-text {
        font-size: 18px;
        margin-top: 10px;
    }

    .form-buttons {
        display: flex;
        gap: 10px;
    }

    .btn-confirmar,
    .btn-limpar {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .container-emprestimo {
        padding: 15px;
    }

    .container-emprestimo h2 {
        font-size: 24px;
        margin-top: -100px;
    }

    .emprestimo-content {
        gap: 15px;
    }

    .emprestimo-info-container h3 {
        font-size: 1rem;
    }

    #livro-capa {
        max-width: 100px;
    }

    .livro-info-text {
        font-size: 14px;
    }

    .form-group label {
        font-size: 14px;
    }

    .form-group input,
    .form-group p.info-adicional {
        padding: 8px;
        font-size: 14px;
    }

    .form-buttons {
        display: flex;
        gap: 8px;
    }

    .btn-confirmar,
    .btn-limpar {
        padding: 10px;
        font-size: 12px;
    }
}

/*TELA DE INFORMAÇÕES LIVROS*/
@media (max-width: 768px) {
    .livro-detalhes-container {
        max-width: 95%;
        padding: 10px;
        margin-top: -100px;
    }

    .livro-detalhes-grid {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .livro-info-principal {
        flex-shrink: 0;
    }

    .capa-detalhes,
    .capa-placeholder-detalhes {
        width: 180px;
    }

    .status-tag {
        margin-top: -10px;
    }

    .livro-dados-texto p {
        text-align: center;
    }

    .livro-sinopse {
        flex: 1;
        text-align: center;
        font-size: 20px;
    }

    .livro-detalhes-botoes {
        flex-direction: column;
        gap: 10px;
    }

    .btn-voltar-detalhes,
    .btn-reservar-detalhes,
    .btn-esgotado {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .livro-detalhes-container {
        padding: 15x;
    }

    .livro-detalhes-header h2 {
        font-size: 25px;
    }

    .capa-detalhes,
    .capa-placeholder-detalhes {
        width: 150px;
    }

    .status-tag {
        margin-top: -30px;
        font-size: 15px;
    }

    .livro-dados-texto p {
        font-size: 20px;
    }

    .livro-detalhes-botoes {
        gap: 8px;
    }

    .btn-voltar-detalhes,
    .btn-reservar-detalhes,
    .btn-esgotado {
        padding: 8px 10px;
    }
}

/* TELA DE ESTOQUE E USUARIOS */
@media (max-width: 768px) {
    .estoque-container {
        padding: 10px;
        margin-top: -100px;
    }

    .tabela-estoque {
        display: block;
        width: 100%;
        overflow-x: auto;
        white-space: nowrap;
    }

    .tabela-estoque thead th,
    .tabela-estoque tbody td {
        padding: 10px;
        font-size: 15px;
    }
}

@media (max-width: 480px) {
    .estoque-container {
        padding: 5px;
    }

    .tabela-estoque {
        border-collapse: collapse;
        display: block;
        width: 100%;
    }

    .tabela-estoque thead {
        display: block;
        width: 100%;
        margin-bottom: 5px;
    }

    .tabela-estoque thead tr {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        background-color: transparent;
        color: black;
    }

    .tabela-estoque thead th {
        background-color: transparent;
        color: black;
        border-bottom: none;
        padding: 5px;
    }

    .tabela-estoque tbody {
        display: block;
        width: 100%;
    }

    .tabela-estoque tbody tr {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-bottom: 10px;
        border: 1px solid #ddd;
        border-radius: 8px;
        padding: 10px;
    }

    .tabela-estoque tbody td {
        display: block;
        text-align: left;
        border: none;
        padding: 5px;
    }

    .tabela-estoque tbody td::before {
        display: none;
    }

    .botoes-acao {
        display: flex;
        justify-content: center;
        gap: 5px;
        padding-top: 10px;
        grid-column: 1 / span 2;
    }

    .botoes-acao .btn-editar,
    .botoes-acao .btn-excluir {
        flex-grow: 1;
        text-align: center;
        box-sizing: border-box;
    }
}

/* RESPONSIVIDADE PARA O MODAL */
@media (max-width: 768px) {
    .modal-conteudo {
        width: 80%;
        margin: 10% auto;
        padding: 10px;
    }

    .modal-conteudo h3 {
        font-size: 15px;
    }

    .modal-botoes {
        gap: 5px;
    }

    .btn-salvar-modal,
    .btn-voltar-modal {
        padding: 8px 15px;
    }
}

@media (max-width: 480px) {
    .modal-conteudo {
        width: 80%;
        margin: 30% auto;
        padding: 10px;
    }

    .form-grid {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .modal-botoes {
        flex-direction: column;
        gap: 5px;
    }

    .btn-salvar-modal,
    .btn-voltar-modal {
        width: 100%;
        padding: 10px;
    }
}

/*TELA DE CONFIGURAÇÕES*/
@media (max-width: 768px) {
    .configuracoes-sidebar {
        width: 100%;
        height: 40%;
        position: static;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin-top: -120px;
        padding: 5px 0;
        border-radius: 0;
        background-color: #1C325B;
    }

    .configuracoes-conteudo {
        flex-grow: 1;
        padding: 15px;
        margin-top: 0;
    }

    .configuracoes-main {
        flex-direction: column;
    }

    .configuracoes-conteudo {
        padding: 15px;
        margin-top: 20px;
    }

    .configuracoes-sidebar .btn-config {
        font-size: 16px;
        padding: 8px 12px;
        text-align: center;
    }

    .side-menu-active {
        display: flex;
    }

    .config-logo {
        margin-left: 0;
        margin-top: 10px;
        height: 50vh;
    }

    .config-logo img {
        width: 300px;
    }
}

/*TELA DE LOGIN*/
@media (max-width: 768px) {
    body.login-page {
        background-color: #9ABF80;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        min-height: 100vh;
        overflow-y: auto;
    }

    .login-container {
        flex-direction: column;
        width: 100%;
        height: auto;
        background-color: transparent;
        box-shadow: none;
        border-radius: 0;
    }

    .login-image-box {
        width: 100%;
        height: auto;
        padding: 20px 0 20px 0;
        background-color: transparent;
        order: -1;
    }

    .login-form-box {
        width: 90%;
        max-width: 400px;
        background-color: #9ABF80;
        padding: 30px;
        margin-bottom: 40px;
        margin-top: 0;
        justify-content: center;
        align-items: center;
    }

    .login-form-box h2 {
        font-size: 35px;
        margin-bottom: 25px;
        color: #1C325B;
    }

    .login-form-box .form-group {
        width: 100%;
        margin-bottom: 15px;
    }

    .login-form-box .form-group label {
        color: #1C325B;
        font-size: 18px;
        margin-bottom: 5px;
        display: block;
    }

    .login-form-box input {
        border: 1px solid #1C325B;
        padding: 12px;
        font-size: 1em;
    }

    .login-form-box button.btn {
        width: 100%;
        padding: 12px;
        font-size: 1.1em;
        margin-top: 20px;
    }
}