.navbar {
    background-color: #9ABF80;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 5px;
    display: flex;
    align-items: center;
    z-index: 1010;
    justify-content: space-between;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-size: 35px;
    font-weight: bold;
    margin-left: 40px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo {
    height: 55px;
    width: auto;
}

.menu-toggle {
    background: none;
    border: none;
    font-size: 0;
}

.side-menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 260px;
    height: 100%;
    background-color: #9ABF80;
    color: white;
    z-index: 1000;
    padding-top: 100px;
    text-align: center;
}

.side-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.side-menu li {
    padding: 10px 20px;
    position: relative;
}

.side-menu a,
.side-menu li button {
    display: block;
    width: 100%;
    padding: 12px 15px;
    color: white;
    text-decoration: none;
    font-size: 18px;
    background: none;
    border: none;
    cursor: pointer;
    text-align: center;
    box-sizing: border-box;
    flex-shrink: 0;
}

.side-menu a:hover,
.side-menu li button:hover {
    background-color: #53703f;
}

.submenu {
    display: none;
    background-color: #7fa46d;
    margin: 0;
}

.submenu li {
    padding: 5px 10px;
}

.submenu li a {
    font-size: 16px;
    padding: 8px 15px;
    text-align: left;
}

.submenu li a:hover {
    background-color: #4b6339;
}

.has-submenu.open>.submenu {
    display: block;
}

.footer {
    background-color: #9ABF80;
    color: #fff;
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 5px 10px;
    align-items: center;
    bottom: 0;
    left: 0;
    width: 100%;
    font-size: 16px;
    margin-top: auto;
}

.footer .autor {
    color: #1C325B;
}

main {
    min-height: calc(100vh - 120px);
    margin-right: 260px;
    padding-top: 100px;
    padding-bottom: 40px;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    height: 100%;
}

html {
    overflow-y: scroll;
}

/*TELA HOME*/
.livros-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 30px;
    padding: 50px 10px;
    margin-top: -30px;
}

.livro-card {
    text-decoration: none;
    color: inherit;
    display: block;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.2s, box-shadow 0.2s;
    text-align: center;
}

.livro-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.capa-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.capa-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.capa-placeholder {
    width: 100%;
    height: 100%;
    background-color: #e0e0e0;
}

.livro-info {
    padding: 10px;
}

.livro-titulo {
    font-weight: bold;
    font-size: 1rem;
    margin: 5px 0 0;
}

.livro-autor {
    font-size: 0.9rem;
    color: #666;
    margin: 0;
}

/* BUSCADOR */
.buscador {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    top: 95px;
    left: 0;
    width: 100%;
    z-index: 100;
}

.pesquisa {
    display: flex;
    width: 100%;
    max-width: 600px;
    border: 1px solid #e0e0e0;
    border-radius: 25px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#buscar {
    flex-grow: 1;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    outline: none;
    background-color: transparent;
}

#buscar::placeholder {
    color: #999;
}

.pesquisa button {
    background-color: #1C325B;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s ease;
}

.pesquisa button:hover {
    background-color: #8693ab;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: none; 
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-conteudo {
  background-color: #fff;
  border-radius: 12px;
  padding: 25px 35px;
  width: 90%;
  max-width: 400px;
  text-align: center;
  position: relative;
  animation: aparecer 0.3s ease;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.3);
}

.fechar-modal {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 24px;
  font-weight: bold;
  color: #555;
  cursor: pointer;
  transition: color 0.2s;
}
.fechar-modal:hover {
  color: #000;
}

.btn-voltar-modal {
  background-color: #1C325B;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  margin-top: 15px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}
.btn-voltar-modal:hover {
  background-color: #86ac6c;
}

.mensagem-feedback.success {
  color: #4b6339;
}
.mensagem-feedback.error {
  color: #b14942; 
}
.mensagem-feedback.warning {
  color: #000; 
}
.mensagem-feedback.info {
  color: #1C325B; /
}

/*RESPONSIVE*/
@media (max-width: 768px) {
    .menu-toggle {
        display: block;
        background: none;
        border: none;
        color: white;
        font-size: 24px;
        cursor: pointer;
        margin-right: 40px;
        z-index: 1020;
        overflow-y: auto;
    }

    body.menu-open .side-menu {
        right: 0;
    }

    .side-menu ul {
        display: block;
        text-align: left;
    }

    .side-menu li {
        padding: 0;
        text-align: left;
        border-bottom: 1px solid #7fa46d;
    }

    .side-menu a,
    .side-menu li button {
        text-align: left;
        padding: 12px 20px;
        margin-top: -5px;
    }

    .submenu {
        display: none;
        position: static;
        width: 100%;
        background-color: #7fa46d;
        padding: 0;
    }

    .submenu li {
        padding: 0;
        border: none;
    }

    .submenu li a {
        padding: 8px 30px;
    }

    .has-submenu.open>.submenu {
        display: block;
    }

    .side-menu form button {
        background-color: transparent;
        border: none;
        color: white;
        font-size: 18px;
        text-align: left;
        cursor: pointer;
        width: 100%;
        padding: 12px 20px;
    }

    .side-menu form button:hover {
        background-color: #53703f;
    }

}

@media (max-width: 480px) {
    .navbar a {
        font-size: 24px;
        margin-left: 10px;
    }

    .logo {
        height: 40px;
    }

    .side-menu {
        width: 200px;
        right: -200px;
    }

    body.menu-open .side-menu {
        right: 0;
    }

    .side-menu a,
    .side-menu li button {
        font-size: 16px;
    }

    .submenu li a {
        font-size: 14px;
    }
}

@media (max-width: 600px) {
    .footer {
        flex-direction: column;
        text-align: center;
        gap: 5px;
        padding: 10px 10px;
        font-size: 14px;
    }

    .footer p {
        margin: 3px 0;
    }
}

/*TELA HOME*/
@media (max-width: 768px) {
    main {
        margin-right: 0;
        width: 100%;
        box-sizing: border-box;
    }

    .buscador {
        width: 100%;
        top: 80px;
        padding: 10px;
        margin-top: -5px;
        box-sizing: border-box;
    }

    .pesquisa {
        display: flex;
        width: 95%;
        max-width: 600px;
        gap: 0;
    }

    #buscar {
        padding: 12px 15px;
        flex-grow: 1;
    }

    .pesquisa button {
        width: auto;
        padding: 12px 15px;
        border-radius: 0 25px 25px 0;
    }

    .livros-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        padding: 20px 10px;
        margin-top: 25px;
    }

    .livro-card {
        width: 100%;
    }

    .capa-container {
        height: 250px;
        width: 100%;
    }

    .livro-titulo {
        font-size: 0.95rem;
    }

    .livro-autor {
        font-size: 0.85rem;
    }
}

@media (max-width: 480px) {
    .pesquisa {
        width: 100%;
        max-width: none;
    }

    .livros-grid {
        grid-template-columns: 1fr;
        gap: 15px;
        padding: 15px;
    }

    .livro-card {
        margin: 0 auto;
        max-width: 250px;
    }

    .capa-container {
        width: 100%;
        height: 300px;
    }
}